*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-visual{
    height: 400px;
    background-image: url(img/mv.jpg);
    background-size: cover;
    background-position: bottom;
}

.main-visual-text{
    color: ;
    padding: 20px;
}

main{
    width: 840px;
    margin: 0 auto;
    
}

.introduct{
    margin: 20px 0;
}

.box-item{
    padding:  30px 0;
    border-bottom: 1px solid black;
}